*
{
    margin: 0%;
    padding: 0%;
}
header
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.904),rgba(0, 0, 0, 0.904));
    height: 12vh;
    background-size: 10%;
    background-position:center;
}

.main-nav
{
    float:left;
    list-style: none;
    margin-top: 50px;
}

.main-nav li
{
    display:inline-block;
}

.main-nav li a
{
    color: rgb(255, 255, 255);
    text-decoration:none;
    padding: 3px 5px;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.main-nav li.active a
{
    background-color: rgba(42, 155, 236);
}

.main-nav li.active a:hover
{
    color: black;
}

.main-nav li a:hover
{
    color: rgba(42, 155, 236);
}

.link1name
{
    float: right;
    font-family: 'Times New Roman', Times, serif
    font-size:30px;
    padding-top: 2.8%;
    padding-right: 2%;
    color: white;
}








.row1uddannelse
{
    background-color: rgba(0, 0, 0, 0.904);
    height: 95vh;
    margin-top: 1.5px;
}

.h2uddannelse
{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
}
.p1uddannelse 
{
    color:rgba(42, 155, 236);
    text-align: center;
    font-size: 22px;
    padding-top: 17px;
}
.p2uddannelse
{
    color: white;
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
}
.p3uddannelse
{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}
.p4uddannelse
{
    color:rgba(42, 155, 236);
    text-align: center;
    font-size: 22px;
    padding-top: 35px;
}
.p5uddannelse
{
    color: white;
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
}
.p6uddannelse
{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}
.p7uddannelse
{
    color:rgba(42, 155, 236);
    text-align: center;
    font-size: 22px;
    padding-top: 35px;
}
.p8uddannelse
{
    color: white;
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
}
.p9uddannelse
{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}
.p10uddannelse
{
    color:rgba(42, 155, 236);
    text-align: center;
    font-size: 22px;
    padding-top: 35px;
}
.p11uddannelse
{
    color: white;
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
}
.p12uddannelse
{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}
.p13uddannelse
{
    color:rgba(42, 155, 236);
    text-align: center;
    font-size: 22px;
    padding-top: 35px;
}
.p14uddannelse
{
    color: white;
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
}
.p15uddannelse
{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}







